.mdi-checkbox-blank-outline:before {
  -webkit-text-stroke: 1px $white;
}

.mdi-checkbox-blank-outline:before {
  color: black !important;
}

.v-input--selection-controls__input {
  width: 17px !important;
}
